#login-form {
  display: block;
  margin: 0 auto;
  width: 70%;

  .error-summary {
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 17px;
  }

  .form-group {
    label {
      font-size: 1.3em;
    }
  }

  .username, .password {
    label {
      font-size: 1.5em;
      line-height: 2em;
      padding: 0;
    }
  }
}