@import 'default_properties';
@import 'utils';

body
{
  color: $text-color-default;
  background: $background-color-default;
  font-family: $font-family-default;
  font-size: $font-size-default;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin-bottom: 40px;
}

.col-centered {
  @extend .column-center;
}

.gob-banner {
  background-image: url('../../images/gob/banda.png'), url('../../images/gob/fundacite-tru.png');
  background-position: left top, right center;
  background-repeat: no-repeat;
  height: 40px;
  margin-bottom: 10px;
}

.proj-title {
  background-image: url('../../images/login-header.png');
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 90px;
  margin-top: 20px;

  span {
    font-size: 1.2em;
  }

  hr {
    margin-top: 4px;
  }
}

.usr-bar {
  $usr-bar-bgcolor-start: #6D9B50;
  $usr-bar-bgcolor-end: #567B3F;

  //border-bottom: 1px solid #dadada;
  //background-color: $usr-bar-bgcolor;

  background: $usr-bar-bgcolor-start;
  background: -moz-linear-gradient(top, $usr-bar-bgcolor-start 0%, $usr-bar-bgcolor-end 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$usr-bar-bgcolor-start), color-stop(100%,$usr-bar-bgcolor-end));
  background: -webkit-linear-gradient(top, $usr-bar-bgcolor-start 0%,$usr-bar-bgcolor-end 100%);
  background: -o-linear-gradient(top, $usr-bar-bgcolor-start 0%,$usr-bar-bgcolor-end 100%);
  background: -ms-linear-gradient(top, $usr-bar-bgcolor-start 0%,$usr-bar-bgcolor-end 100%);
  background: linear-gradient(to bottom, $usr-bar-bgcolor-start 0%,$usr-bar-bgcolor-end 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$usr-bar-bgcolor-start, endColorstr=$usr-bar-bgcolor-end,GradientType=0 );

  border-radius: 5px;
  font-size: 1.2em;

  .nav {
    .item > a {
      color: #FFF;
      border-radius: 0;
      padding: 5px 10px 3px;
      text-align: center;

      img {
        margin: 0 auto;
        display: block;
      }

      .nav-title {
        display: inline-block;
      }
    }

    .item, .item.open {
      a:hover, a:focus {
        background-color: #7AAB5C;
        color: #FFF;
      }
    }
  }
}

.usr-alert {
  padding-left: 0;
  ul {
    list-style: none;
    padding: 0;
  }
}

.usr-err {
  margin: 5px 15px;
}

.profile-avatar-form {
  text-align: center;

  img {
    display: block;
    margin: 0 auto;
  }
}

// encuestas
.btn-enc {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #FAFAFA;
  display: inline-block;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  padding: 140px 10px 5px 10px;
  min-height: 275px;
  width: 100%;
}

.btn-enc:hover {
  background-color: #f1f1f1;
  text-decoration: none;
}

.enc-te {
  background-repeat: no-repeat;
  background-position: center 10px;
}

.enc-1 {
  background-image: url("../../images/icons/university-icon.png");
}

.enc-2 {
  background-image: url("../../images/icons/laboratory-icon.png");
}

.title-enc {
  margin: 20px 25px 0 25px;
  font-weight: bold;

  h4 {
    background-size: 40px;
    background-position: center left;
    padding: 10px 0 10px 50px;
    margin: 0;
  }

  hr {
    margin: 4px 0 15px 0;
  }
}

// estadisticas
.stats-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    a {
      color: #4d4d4c;
      border-left: 8px solid #595959;
      border-bottom: 1px solid #595959;
      font-size: 1.2em;
      text-decoration: none;
      display: block;
      padding: 4px 10px;
      margin-bottom: 2px;
    }

    a:hover {
      background-color: #F2F2F2;
    }

    a.active {
      $bcolor: #225280;
      border-left-color: $bcolor;
      border-bottom-color: $bcolor;
      background-color: #E6EDF4;
    }
  }
}

#charts {
  .title-enc {
    margin-top: 0;
  }

  .chart {
    margin-bottom: 50px;
  }

  p.cat-title, p.title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
  }

  p.cat-title {
    font-size: 1.7em;
  }

  canvas {
    display: block;
    margin: 0 auto;
  }

  .no-data {
    color: #999;
    background: url("../../images/icons/charts-bg.png") no-repeat center top;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    height: 128px;
    line-height: 128px;
  }
}