@import 'default_properties';
@import 'utils';

body
{
  color: $text-color-default;
  background: $background-color-default;
  font-family: $font-family-default;
  font-size: $font-size-default;
  margin: 0;
  padding: 0;
}

.col-centered {
  @extend .column-center;
}