@import 'default_properties';
@import 'utils';

body
{
  color: $text-color-default;
  background: $background-color-default;
  font-family: $font-family-default;
  font-size: $font-size-default;
  margin: 0;
  padding: 0;
}

.col-centered {
  @extend .column-center;
}

.gob-banner {
  background-image: url('../../images/gob/banda.png'), url('../../images/gob/fundacite-tru.png');
  background-position: left top, right center;
  background-repeat: no-repeat;
  height: 40px;
  margin-bottom: 10px;
}
