#sectir-site-titulo {
  h2 {
    margin-bottom: 20px;
  }
}

#fill-enc {
  .title-enc {
    margin: 20px 25px 0 25px;
    font-weight: bold;

    h4 {
      background-size: 40px;
      background-position: center left;
      padding: 10px 0 10px 50px;
      margin: 0;
    }

    hr {
      margin: 4px 0 15px 0;
    }
  }
}