#sectir-site-titulo {
  h2 {
    margin-bottom: 20px;
  }
}

#sectir-site-content {

  .btn-enc {
    border: 1px solid #ddd;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center 10px;
    background-color: #FAFAFA;

    display: inline-block;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    padding: 140px 10px 5px 10px;
    min-height: 275px;
  }

  .btn-enc:hover {
    background-color: #f1f1f1;
  }

  .enc-1 {
    background-image: url("../../images/icons/university-icon.png");
  }

  .enc-2 {
    background-image: url("../../images/icons/laboratory-icon.png");
  }
}